@import "styles.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Lora', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #ffffff;
    --clr-dark: #303030;
    --clr-darker: #111111;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0, 0, 0, .75),
          .125em .125em .25em rgba(0, 0, 0, .15);
}

@media (min-width: 768px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.12rem;
    }
}

/* General, basic styling */
html,
body {
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

    background: #ffd369; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd369 0%, #e26241 15%, #9c0637 70%, #650404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffd369 0%,#e26241 15%,#9c0637 70%,#650404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffd369 0%,#e26241 15%,#9c0637 70%,#650404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd369', endColorstr='#650404',GradientType=0 ); /* IE6-9 */

}

img {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 4.4rem;
}

strong {
    font-weight: var(--fw-bold);
}
